@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 


.tiltneon {
  font-family: "Tilt neon";
  font-weight: 400;
}

.dept-bg{
  background-image: linear-gradient(to top right,#007991, #78FFD6) !important;
}

.hover\:animate-bounce:hover {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}



@media only screen and (min-width: 1200px){
  

  .logo-image {
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
  }

  .hov {
    font-size: 150%;
    background: -webkit-linear-gradient( #efeded, #65e0ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 600;
   }
   
 
   .hov:hover{
    font-size: 150%;
    background: -webkit-linear-gradient( #dfdcdc, #0bfa93);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 600;
 }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  
  .logo-image {
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
  }


  .hov {
      font-size: 135%;
      background: -webkit-linear-gradient( #efeded, #65e0ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
     }

     
     
   
     .hov:hover{
      font-size: 135%;
      background: -webkit-linear-gradient( #dfdcdc, #0bfa93);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
   }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
   
    
    .logo-image {
      margin: 0 auto;
      max-width: 140%;
      max-height: 140%;
    }
    
    .size {
      font-size: 1.4rem;
    }

    .hov {
      font-size: 125%;
      background: -webkit-linear-gradient( #efeded, #65e0ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
     }
     
   
     .hov:hover{
      font-size: 125%;
      background: -webkit-linear-gradient( #dfdcdc, #0bfa93);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
   }
  }
  @media only screen and (min-width: 551px) and (max-width: 767px){
    .navbar {
      font-size: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .logo-image {
      margin: 0 auto;
      max-width: 140%;
      max-height: 140%;
    }
    

    .size {
      font-size: 1rem;
    }

    .hov {
      font-size: 105%;
      background: -webkit-linear-gradient( #efeded, #65e0ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
     }
     
   
     .hov:hover{
      font-size: 105%;
      background: -webkit-linear-gradient( #dfdcdc, #0bfa93);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
   }
  }

  @media only screen and (max-width: 551px) {
    .navbar {
      font-size: 2.2vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    

    .logo-image {
      margin: 0 auto;
      max-width: 140%;
      max-height: 140%;
    }
    

    

    .hov {
      font-size: 95%;
      background: -webkit-linear-gradient( #efeded, #65e0ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
     }
     
   
     .hov:hover{
      font-size: 95%;
      background: -webkit-linear-gradient( #dfdcdc, #0bfa93);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 600;
   }
  }
  
.under:hover::after {
  content: "";
  display: block;
  height: 0.1vh;
  width: 80%;
  margin: 0 auto; 
  background-color: #ffffff;
}


@media (min-width: 550px) {
  .profile-button {
    font-size: 2.5vh;
  }
}

.tilt-neon {
  font-family: "Tilt neon";
  font-weight: 400;
}

@media (max-width: 550px) {
  .profile-button {
    font-size: 2.5vh;
  }
}
.hamburger-icon {
  display: none;
  background: none;
  border: none;
  color: #36cdff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 9999;
  padding-top: -19%;
}

.mobile-menu {
  display: none;
  background: #09214a;
  color: #fff;
  padding: 20px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  margin-bottom: 10px;
}


@media (max-width: 767px) {
  .hamburger-icon {
    display: block;
  }

  .flex-grow ul {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .arrow-left{
    margin-left: 3%;
  }
}

@media (max-width: 768px) {
  .arrow-left{
    margin-left: 10%;
  }
}

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: linear-gradient( #0512a2, #450202);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  color:aliceblue;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  font-weight: bold;
  background: linear-gradient( #e206ab, #0bfa93);
  transition: all 0.5s;
  color:aliceblue;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
  color:black;
}

.card0:hover:after {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,esse distinctio saepe corporis velit accusantium, voluptatibus atqueexcepturi at reiciendis";
  color:aliceblue;
  font-weight: 100;
  padding:4%;
}

.card1:hover:after {
  content: "Lorem  Repudiandae,esse distinctio saepe corporis velit accusantium, voluptatibus atqueexcepturi at reiciendis";
  color:aliceblue;
  font-weight: 100;
  padding:4%;
}

.card2:hover:after {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,esse distinctio saepe corporis velit accusantium, voluptatibus atqueexcepturi at reiciendis";
  color:aliceblue;
  font-weight: 100;
  padding:4%;
}

.card3:hover:after {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,esse distinctio saepe corporis velit accusantium, voluptatibus atqueexcepturi at reiciendis";
  color:aliceblue;
  font-weight: 100;
  padding:4%;
}

.card4:hover:after {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,esse distinctio saepe corporis velit accusantium, voluptatibus atqueexcepturi at reiciendis";
  color:aliceblue;
  font-weight: 100;
  padding:4%;
}

.header-gradient{
  
    color: rgb(98, 4, 98);
   background-clip: text;
   text-fill-color: transparent;
   font-weight: 600;
}

.p-margin{
  padding-left: 10%;
  padding-right: 10%;
}

.text-gradient{
  background: linear-gradient( #dfdcdc, #0bfa93);
   background-clip: text;
   text-fill-color: transparent;
}


::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: #370606;
}

::-webkit-scrollbar-thumb {
  background: rgba(1, 255, 179, 0.959);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(1, 217, 255, 0.911);
  border-radius: 12px;
}

.button {
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
  content: "Hello!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,#7b4397,#dc2430 );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 2, 0.320, 1);
}

.button::after {
  content: "Explore!";
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,#4eb3e6,#b70c84 );
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  transform: translate(0%,0%);
  border-color: aliceblue;
  border-radius: 5%;
}

.button:hover::after {
  transform: translate(0%,-200%);
}

.button:focus {
  outline: none;
}

.button:active {
  scale: 0.95;
}


.button1 {
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(36, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button1::before {
  content: "Hello!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,#c8051f,#24dcae );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 2, 0.320, 1);
}

.button1::after {
  content: "Explore!";
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,#529cb7,#e74900 );
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button1:hover::before {
  transform: translate(0%,0%);
  border-color: rgb(4, 36, 64);
  border-radius: 5%;
}

.button1:hover::after {
  transform: translate(0%,-200%);
}

.button1:focus {
  outline: none;
}

.button1:active {
  scale: 0.95;
}

